

<div class="row">
  <div class="col-md-4">
    <h1>blah</h1>
    <p>kfuyfjtyfjtfjktkftk</p>
  </div>
  <div class="col-md-4">
    <h1>blah</h1>
    <p>kfuyfjtyfjtfjktkftk</p>
  </div>
  <div class="col-md-4">
    <h1>blah</h1>
    <p>kfuyfjtyfjtfjktkftk</p>
  </div>
</div>